<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" >

        <ul  class="navbar-nav">
            <li class="nav-item" >
                <a  [routerLink]="['']"  class="nav-link">Trattoria</a>
            </li>
    
            <li class="nav-item">
                <a  [routerLink]="['/meal-list']" class="nav-link">Meals</a>
            </li>
    
            <li class="nav-item">
                <a [routerLink]="['/meal-change']" class="nav-link">Meal change</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/add-category']" class="nav-link">Add category</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link ">Log in </a>
        </li>
    </ul>

</nav>


<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Trattoria La Campana</h1>
          <p class="lead"> ..perfect place to grab a quick bite and wash it down with with some local wine...</p>
        </div>
      </div>
</header>
